[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
  {% if (enable_dpms | default(true)) %}
    timeout 300 'swaymsg "output * dpms off"' \
      resume 'swaymsg "output * dpms on"' \
  {% endif %}
  lock 'systemctl --user start swaylock' \
  unlock 'systemctl --user stop swaylock' \
  timeout 300 'systemctl --user start swaylock'
Restart=always
RestartSec=1

[Install]
WantedBy=sway-session.target
