[NetDev]
Name=wgme
Kind=wireguard
Description=wgme

[WireGuard]
ListenPort=51820
PrivateKey={{ wgme.prv }}

{% if inventory_hostname == 'chonk.samcday.com' %}
{% for host in groups['all'] %}
[WireGuardPeer]
PublicKey={{ hostvars[host].wgme.pub }}
PresharedKey={{ wireguard_psk -}}
AllowedIPs={{ hostvars[host].wgme.ip }}/32
{% endfor %}
{% else %}
[WireGuardPeer]
PublicKey={{ hostvars['chonk.samcday.com'].wgme.pub }}
PresharedKey={{ wireguard_psk -}}
AllowedIPs=192.168.250.0/24
Endpoint=chonk.samcday.com:51820
PersistentKeepalive=25
{% endif %}
